.section-grid {
    margin-top: 3rem;
    height: 90vh;
    display: flex;

    &__left {
        flex: 0 0 40%;
    }

    &__right {
        flex: 1;
        //border: 1px dashed orangered;
    }

    &__text {
       //display: flex;
       //flex-direction: column;
       //align-items: flex-end;
       //justify-content: flex-end;
       @include absCenter;
    }
}

.row {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row1{
    flex: 0 0 40%;
    display: flex;

    &__box1 {
        flex: 0 0 33.33333%;
        border: 1px solid green;
    }

    &__box2 {
        flex: 0 0 50%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;

        &--vertical {
            border: 1px solid rgb(128, 0, 70);
            flex: 1;
            display: flex;
        }

        &--ver1 {
            background-color: blue;
            flex: 0 0 66.66666%;
        }

        &--ver2 {
            background-color: pink;
            flex: 1;
        }
    }

    &__box3 {
        flex: 1;
        border: 1px solid green;
    }
}

.row2{
    flex: 0 0 40%;
    border: 1px solid green;
    display: flex;

    &__box {
        flex: 1;
        border: 1px solid yellow;
    }
}

.row3{
    flex: 1;
    border: 1px solid green;
}



