.navigation {
   

}

.main-menu {
    list-style: none;

    &__item {
        font-size: 1.3rem;
        display: inline-block;
        padding-bottom: 0.5rem;
        

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-grey-7;
        //text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: all .5s;
    }

    &__link:hover {
        border-bottom: 1px solid $color-primary-dark;
    }

}

